header{
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 80px;
}
.logo{
    font-size: larger;
    font-weight: bold;
    color: black;
}
.ul{
    display: flex;
}
li{
    margin-top:30px ;
    margin: 0 20px;
    list-style: none;
}

.center{
    text-align: center;
}

.in input{
 width: 360px;
 height: 45px;
 border: none;
 border-radius: 10px;
 background-color: rgb(202, 200, 197);
 margin-bottom: 10px;
 outline: none;
 padding: 20px;
 font-size: medium;
}

.btn{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.box{
    height: 100vh;
    background-image: url(./box/mi\ backgroun-01.png);
    position: relative;
  
}

.contant{
   position: absolute;
   top: 270px;
   left: 290px;
}
.contant h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.contant button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-weight: bold;
    margin-top: 8px;
    padding: 13px 25px;
    cursor: pointer;
    border-radius: 8px;
}

@media screen and (max-width:1000px) and (min-width:100px){
    .contant{
        position: absolute;
        top: 250px;
        left: 50px;
     }
     .contant h1{
         font-family: Arial, Helvetica, sans-serif;
         font-size: 50px;
         font-weight: bolder;
     }
     .contant button{
         background-color: black;
         color: aliceblue;
         outline: none;
         border: none;
         margin-top: 8px;
         padding: 10px 18px;
         cursor: pointer;
     }
}

.v{
    display: flex;
    align-items: center;
    justify-content: right;
}
li{
    margin-top: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
}


header .ul.active{
 top: 100%;
  
}
.menu{
    display: none;
}
header .ul li a{
    display: inline-block;
    margin: 20px 25px;
    font-size: medium;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}

@media screen and (max-width:599px) and (min-width:100px){
    header{
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 1000;
        justify-content: space-between;
        background-color: rgb(236, 235, 235);
        padding: 30px 7%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    header a{
        text-decoration: none;
    }
    .menu{
        color: rgb(0, 0, 0);
        display: block;
        font-size: large;
        font-size: 25px;
        cursor: pointer;

    }
   
    .logo{
        font-size: larger;
        font-weight: bold;
        color: black;
    }
    header .ul{
        display: block;
        position: absolute;
        top: -4000%;
        left: 0;
        right: 0;
        color: #000;
        height: 90vh;
        background-color: rgb(170, 166, 166);
        transition: top 0.5s;
     
    }
    header .ul.active{
      top: 100%;
      
    }
    header .ul li a{
        display: inline-block;
        
        font-size: medium;
        font-weight: bold;
        color: rgb(255, 255, 255);
        
    }


}


